body {
    font-family: Arial, sans-serif;
    background-color: #FEF6DF;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden
}

.quote-container {
    display: inline-block;
    text-align: center;
    margin: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-out forwards;
}

h2 {
    color: #333;
    font-size: 5em;
    text-align: center;
    margin: 0 50px 10px 50px;
    font-style: italic;
    opacity: 0;
    transform: translateY(10px);
    animation: slideUp 1s ease-out forwards 0.5s;
}

p {
    color: #666;
    font-size: 3em;
    margin: 0;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(10px);
    animation: slideUp 1s ease-out forwards 0.8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .quote-container {
        padding: 15px;
    }

    h2 {
        font-size: 2em;
        white-space: normal;
    }
    
    p {
        font-size: 1em;
        white-space: normal;
    }
}